;This file is managed by ansible, any changes here may be lost...

[{{ item.name }}]

user = {{ item.user }}
group = {{ item.group }}

listen = {{ item.listen }}
listen.owner = {{ item.user }}
listen.group = {{ item.group }}

{{ item.conf }}

